<div class="row">
    <div class="col-lg-12">
      <button (click)="abrirAlerta()">Exemplo de Alerta</button>
      <h5></h5>

      <app-mensagem-tela [mensagem]="mensagem" [tipoMensagem]="tipoMensagem"
      (respostaOut)="limpaMensagem()">
      </app-mensagem-tela>
      <br/>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <button (click)="abrirAlertaModal()">Exemplo de Modal Alerta</button>
      <br/>

      <app-modal-mensagem-tela msg_id="testeModal" [mensagem]="mensagem2"
      [tipoMensagem]="tipoMensagem2"
      [exibeMensagem]="mensagem2"
      (respostaOut)="recebeRespostaModalMensagem()"></app-modal-mensagem-tela>

      <br/>

    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">

      <button (click)="abrirModalConfirmacao()">Exemplo de Modal de Confirmação</button>
      <br/>

      <app-mensagem-confirmacao msg_class="danger" tipo="modal" [exibe]="exibeModalConfirmacao"
      pergunta="Deseja realmente excluir o Lote?"
      (respostaOut)="confirmaPergunta($event)"></app-mensagem-confirmacao>
    

    </div>

  </div>
  
  <br/>

  <app-exibir-noticia></app-exibir-noticia>
