portalServidor/android/.gitignore
portalServidor/android/build.gradle
portalServidor/android/capacitor.settings.gradle
portalServidor/android/gradle.properties
portalServidor/android/gradlew
portalServidor/android/gradlew.bat
portalServidor/android/settings.gradle
portalServidor/android/variables.gradle
portalServidor/android/.idea/misc.xml
portalServidor/android/.idea/codeStyles/Project.xml
portalServidor/android/app/.npmignore
portalServidor/android/app/build.gradle
portalServidor/android/app/capacitor.build.gradle
portalServidor/android/app/proguard-rules.pro
portalServidor/android/app/src/androidTest/java/com/getcapacitor/myapp/ExampleInstrumentedTest.java
portalServidor/android/app/src/main/AndroidManifest.xml
portalServidor/android/app/src/main/assets/capacitor.config.json
portalServidor/android/app/src/main/java/br/jus/trerj/portalservidor/MainActivity.java
portalServidor/android/app/src/main/res/drawable/ic_launcher_background.xml
portalServidor/android/app/src/main/res/drawable/splash.png
portalServidor/android/app/src/main/res/drawable-land-hdpi/splash.png
portalServidor/android/app/src/main/res/drawable-land-mdpi/splash.png
portalServidor/android/app/src/main/res/drawable-land-xhdpi/splash.png
portalServidor/android/app/src/main/res/drawable-land-xxhdpi/splash.png
portalServidor/android/app/src/main/res/drawable-land-xxxhdpi/splash.png
portalServidor/android/app/src/main/res/drawable-port-hdpi/splash.png
portalServidor/android/app/src/main/res/drawable-port-mdpi/splash.png
portalServidor/android/app/src/main/res/drawable-port-xhdpi/splash.png
portalServidor/android/app/src/main/res/drawable-port-xxhdpi/splash.png
portalServidor/android/app/src/main/res/drawable-port-xxxhdpi/splash.png
portalServidor/android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
portalServidor/android/app/src/main/res/layout/activity_main.xml
portalServidor/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
portalServidor/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
portalServidor/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
portalServidor/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
portalServidor/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
portalServidor/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
portalServidor/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
portalServidor/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
portalServidor/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
portalServidor/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
portalServidor/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
portalServidor/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
portalServidor/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
portalServidor/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
portalServidor/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
portalServidor/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
portalServidor/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
portalServidor/android/app/src/main/res/values/ic_launcher_background.xml
portalServidor/android/app/src/main/res/values/strings.xml
portalServidor/android/app/src/main/res/values/styles.xml
portalServidor/android/app/src/main/res/xml/config.xml
portalServidor/android/app/src/main/res/xml/file_paths.xml
portalServidor/android/app/src/test/java/com/getcapacitor/myapp/ExampleUnitTest.java
portalServidor/android/gradle/wrapper/gradle-wrapper.jar
portalServidor/android/gradle/wrapper/gradle-wrapper.properties
portalServidor/android/.idea/runConfigurations.xml
portalServidor/android/app/google-services.json
