<ng-template #template>
  <div class="modal-body text-center">
    <p>{{pergunta}}</p>
    <button type="button" [class]="'btn btn-'+ msg_class" (click)="confirma(true)" >Sim</button>
    &nbsp;    
    <button type="button" class="btn btn-default" (click)="confirma(false)" >Não</button>
  </div>
</ng-template>


<span *ngIf="exibe">
<div [class]="'alert alert-' + msg_class + ' alert-dismissible'" [id]="msg_id" *ngIf="tipo == 'box'">
      <div>
        <div>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="confirma(false)">×</button>
            <h4 class="text-center text-black"><i class="fa fa-question-circle"></i> Confirmação</h4>
        </div>
  
        <div class="pad">
          <div class="text-center">
            <h4>{{pergunta}}</h4>
          </div>
        </div>
        <div class="pad text-center">
          <button type="button" class="btn btn-outline actionButtons" (click)="confirma(false)" data-dismiss="alert">
            <i class="fa fa-close"></i> Não
          </button>
          &nbsp;
          <button type="button" class="btn btn-outline actionButtons" (click)="confirma(true)" data-dismiss="alert" >
            <i class="fa fa-check"></i> Sim
          </button>
        </div>
    </div>
  </div>
</span>