<div [class]="'modal fade modal-default'" [id]="msg_id" *ngIf="tipo == 'modal'">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div [class]="'modal-header bg-'+ color">
        <h4 class="modal-title text-center"><i class="fa fa-question-circle"></i> Confirmação</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <div class="text-center">
          <h4>{{pergunta}}</h4>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" [class]="'btn btn-'+ msg_class + ' pull-left'" data-dismiss="modal"
          (click)="confirma(false)">
          <i class="fa fa-close"></i> Não
        </button>
        <button type="button" [class]="'btn btn-'+ msg_class" data-dismiss="modal" (click)="confirma(true)">
          <i class="fa fa-check"></i> Sim
        </button>
      </div>
    </div>
  </div>
</div>

<span *ngIf="exibe">
<div [class]="'alert alert-' + msg_class + ' alert-dismissible'" [id]="msg_id" *ngIf="tipo == 'box'">
      <div>
        <div>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="confirma(false)">×</button>
            <h4 class="text-center text-black"><i class="fa fa-question-circle"></i> Confirmação</h4>
        </div>
  
        <div class="pad">
          <div class="text-center">
            <h4>{{pergunta}}</h4>
          </div>
        </div>
        <div class="pad text-center">
          <button type="button" class="btn btn-outline actionButtons" (click)="confirma(false)" data-dismiss="alert">
            <i class="fa fa-close"></i> Não
          </button>
          &nbsp;
          <button type="button" class="btn btn-outline actionButtons" (click)="confirma(true)" data-dismiss="alert" >
            <i class="fa fa-check"></i> Sim
          </button>
        </div>
    </div>
  </div>
</span>